aiortc
fastapi
uvicorn[standard]
uvloop
mediapipe-silicon
opencv-python
numpy
pykalman
pykalman
python-multipart
scipy
uvicorn
uvloop
requests
cerebras-cloud-sdk
django
channels
djangorestframework
channels-redis
redis
